@model Expense_Traker_Csharp.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <ejs-textbox id="title" name="title" placeholder="Title" floatLabelType="Always"
                    value="@Model.title"></ejs-textbox>
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">

                <ejs-textbox id="icon" placeholder="Icon" name="icon" floatLabelType="Always"
                    value="@Model.icon"></ejs-textbox>
                <span asp-validation-for="icon" class="text-danger"></span>
            </div>
            <div class="form-group">

                <ejs-textbox id="type" placeholder="Type" name="type" floatLabelType="Always"
                    value="@Model.type"></ejs-textbox>
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

