@model Expense_Traker_Csharp.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="categoryid" />
            <div class="form-group">
                <ejs-textbox id="title" name="title" placeholder="Title" floatLabelType="Always"
                    value="@Model.title"></ejs-textbox>
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">

                <ejs-textbox id="icon" placeholder="Icon" name="icon" floatLabelType="Always"
                    value="@Model.icon"></ejs-textbox>
                <span asp-validation-for="icon" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="radio" id="radioleft" value="Expense" name="type" checked=@(Model.type == "Expense") />
                <label class="e-btn" for="radioleft">Expense</label>
                <input type="radio" id="radiomiddle" value="Income" name="type" checked=@Model.type==="Income" />
                <label class="e-btn" for="radiomiddle">Income</label>

                <span asp-validation-for="type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

