@model Expense_Traker_Csharp.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                     <ejs-dropdownlist id="ddlCategory" ejs-for="categoryid" dataSource="@ViewBag.category" placeholder="Category" floatLabelType="Always" allowFiltering="true" ignoreAccent="true"filterType="Contains" popupHeight="220px">
                        <e-dropdownlist-fields value="categoryid" text="titleWithIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="categoryid" class="text-danger fs-6"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="note" class="control-label"></label>
                <input asp-for="note" class="form-control" />
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <ejs-datepicker id="date" ejs-for="date" placeholder="date" floatLabelType="Always" format="MMM-dd-yy"></ejs-datepicker>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

