@model IEnumerable<Expense_Traker_Csharp.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddorEdit">Create New</a>
</p>
<div class="row">
    <div class="col-md-7">

        <ejs-grid id="transaction" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="cattitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" template="#date" width="150px"></e-grid-column>
                <e-grid-column headerText="Amount" template="#formatedAmount" width="150px"></e-grid-column>

                @* <e-grid-column headerText="Actions" template="#edit" width="100px"></e-grid-column> *@

            </e-grid-columns>
        </ejs-grid>


    </div>
    <div class="col-md-5 picture">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>